# Importing Libraries

In [252]:
import tensorflow as tf
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import MinMaxScaler 
# import sys
# np.set_printoptions(threshold=sys.maxsize)

# Data

In [253]:
data = pd.read_excel('todoData.xlsx', date_parser=True)
data = data.set_index('Date')
data.head()

,day,month,year,sum,bread,egg,waffles,butter,milk,yogurt,...,strawberry,peach,coriander,mint,tomato,onion,potatoes,garlic,ginger,pepper
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-01,1,1,18,1118,1,1,1,1,1,1,...,0,1,1,0,1,1,1,1,1,0
2018-01-02,2,1,18,2118,1,0,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0
2018-01-03,3,1,18,3118,0,0,0,0,1,1,...,0,0,0,0,1,0,0,0,0,0
2018-01-04,4,1,18,4118,1,1,0,0,1,0,...,0,0,1,1,1,0,0,0,0,0
2018-01-05,5,1,18,5118,1,1,0,0,1,1,...,1,1,1,0,1,0,0,1,1,1

In [30]:
data.describe()

,day,month,year,sum,bread,egg,waffles,butter,milk,yogurt,...,strawberry,peach,coriander,mint,tomato,onion,potatoes,garlic,ginger,pepper
count,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,...,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000
mean,15.720548,6.526027,18.500000,52317.678082,0.617808,0.516438,0.108219,0.321918,0.867123,0.735616,...,0.200000,0.398630,0.667123,0.249315,0.832877,0.200000,0.080822,0.250685,0.250685,0.200000
std,8.802278,3.450215,0.500343,76892.181651,0.486256,0.500072,0.310870,0.467532,0.339674,0.441307,...,0.400274,0.489952,0.471566,0.432913,0.373342,0.400274,0.272748,0.433705,0.433705,0.400274
min,1.000000,1.000000,18.000000,1118.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.000000,4.000000,18.000000,11118.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,16.000000,7.000000,18.500000,20918.500000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,23.000000,10.000000,19.000000,30918.750000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.750000,0.750000,0.000000
max,31.000000,12.000000,19.000000,311219.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Spliting Training, Test Data

In [31]:
train ,test= data.iloc[:-100,3:] , data.iloc[-100:,3:]

# Normalizing Values

In [32]:
scaler = MinMaxScaler()
scaler.fit(train)
train = scaler.transform(train)

C:\Users\FC\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

## Preparing Training Data

In [6]:
# training on 3 days then predciting 4th value

x_train = []
y_train = []

for i in range (3, train.shape[0]):
    x_train.append(train[i-3:i])
    y_train.append(train[i])

### scaling traing data

In [7]:
#converting traning data into munpy array

x_train , y_train = np.array(x_train), np.array(y_train)

y_train = y_train[:,1:]

print(x_train.shape)
print(y_train.shape)

(627, 3, 30)
(627, 29)

# Build Model

In [250]:
# building LSTM network

numbers_of_features = 30

from tensorflow.keras import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

regressor = Sequential()

regressor.add(LSTM(units = 140, activation = "relu", return_sequences = True, input_shape= (x_train.shape[1],30)))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 120, activation = "relu", return_sequences = True))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 80, activation = "relu", return_sequences=True))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 60, activation = "relu"))
regressor.add(Dropout(0.2))
regressor.add(Dense(29, activation='sigmoid'))

In [251]:
regressor.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_8 (LSTM)                (None, 3, 140)            95760
_________________________________________________________________
dropout_8 (Dropout)          (None, 3, 140)            0
_________________________________________________________________
lstm_9 (LSTM)                (None, 3, 120)            125280
_________________________________________________________________
dropout_9 (Dropout)          (None, 3, 120)            0
_________________________________________________________________
lstm_10 (LSTM)               (None, 3, 80)             64320
_________________________________________________________________
dropout_10 (Dropout)         (None, 3, 80)             0
_________________________________________________________________
lstm_11 (LSTM)               (None, 60)                33840
_________________________________________________________________
dropout_11 (Dropout)         (None, 60)                0
_________________________________________________________________
dense_2 (Dense)              (None, 29)                1769
=================================================================
Total params: 320,969
Trainable params: 320,969
Non-trainable params: 0
_________________________________________________________________

In [10]:
#compiling the regressor model

regressor.compile(optimizer="adam", loss="binary_crossentropy", metrics=["acc"])

#training the the model

regressor.fit(x_train, y_train, epochs=150, batch_size=12)

WARNING:tensorflow:From C:\Users\FC\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/30
627/627 [==============================] - 6s 10ms/sample - loss: 0.6208 - acc: 0.7673
Epoch 2/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.5024 - acc: 0.7737
Epoch 3/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.4958 - acc: 0.7718
Epoch 4/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.4910 - acc: 0.7743
Epoch 5/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.4865 - acc: 0.7758
Epoch 6/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.4801 - acc: 0.7808
Epoch 7/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.4704 - acc: 0.7868
Epoch 8/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.4610 - acc: 0.7876
Epoch 9/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.4432 - acc: 0.8015
Epoch 10/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.4157 - acc: 0.8114
Epoch 11/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.4013 - acc: 0.8176
Epoch 12/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.3868 - acc: 0.8243
Epoch 13/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.3786 - acc: 0.8301
Epoch 14/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.3652 - acc: 0.8368
Epoch 15/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.3521 - acc: 0.8414
Epoch 16/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.3404 - acc: 0.8495
Epoch 17/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.3331 - acc: 0.8526
Epoch 18/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.3189 - acc: 0.8631
Epoch 19/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.3150 - acc: 0.8664
Epoch 20/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.3040 - acc: 0.8712
Epoch 21/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.2957 - acc: 0.8757
Epoch 22/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.2909 - acc: 0.8777
Epoch 23/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.2895 - acc: 0.8781
Epoch 24/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.2840 - acc: 0.8820
Epoch 25/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.2757 - acc: 0.8840
Epoch 26/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.2699 - acc: 0.8894
Epoch 27/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.2665 - acc: 0.8885
Epoch 28/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.2633 - acc: 0.8904
Epoch 29/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.2691 - acc: 0.8882
Epoch 30/30
627/627 [==============================] - 1s 2ms/sample - loss: 0.2591 - acc: 0.8920

## Preparing Test Data

In [11]:
scaler.fit(test)
test = scaler.fit_transform(test)

x_test = []
y_test = []

for i in range(3, test.shape[0]):
    x_test.append(test[i-3:i])
    y_test.append(test[i])
    
# converting traning data into munpy array

x_test , y_test = np.array(x_test), np.array(y_test)

y_test = y_test[:,1:]

print(x_test.shape)
print(y_test.shape)

(97, 3, 30)
(97, 29)

C:\Users\FC\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
C:\Users\FC\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

## Test

In [12]:
# predicting item
result = regressor.evaluate(x_test,y_test)

97/97 [==============================] - 1s 8ms/sample - loss: 0.2747 - acc: 0.8958

## Save model

In [ ]:
# regressor.save('todomodel.h5')